@media(max-width:460px){
    .contact-page-general-container{
        // border: 2px solid red;
        width: 100% !important;
        margin: 6.2% 0px 0px 0px !important;
        padding: 0px;
        .contact-page-text{
            h2{
                font-size: 25px;
            }
        }
    }
}

@media(max-width:1029px){
    .others-contact-info-general-container{
        width: 100% !important;
    }
}

@media(max-width:939px){
    .others-contact-info-general-container{
        width: 90% !important;
        @include flexArea(flex,'','',column !important) ;
        .other-contact-left{
            width: 100% !important;
        .left-wrapper{
            padding: 10px 10px !important;
        }
    }
    .other-contact-right{
        width: 50% !important;
    }
    .other-contact-right{
        width: 100% !important;
    }
} 
    }

    @media(max-width:500px){
        .other-contact-right{
            .input-div{
                @include flexArea(flex,'','',column !important);

                input{
                    width: 100% !important;
                    margin-bottom: 10px;
                }
            }
        }

    }
   